<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open Up</title>
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/posts">Посты</a></li>
        <li><a href="/people-near">Люди</a></li>
        <% if (currentUser) { %>
          <li><a href="/profile/<%= currentUser.id %>">Профиль</a></li>
        <% } else { %>
          <li><a href="/login">Логин</a></li>
        <% } %>
        
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h1>OPEN UP</h1>
      <p>
        Наша платформа создана для того, чтобы соединять людей и вдохновлять на творчество. Здесь вы можете делиться своими идеями, историями и открытиями, получать поддержку от сообщества и находить новые возможности для самовыражения. <a href="/login" class="highlight-link">Присоединяйтесь к нам</a>, чтобы открыть для себя мир общения и обмена опытом, где каждый голос важен!
      </p>
    </section>
  </main>
</body>
</html>
